<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        link(rel="stylesheet", href="/css/normalize.css")
        //- link(rel="stylesheet", href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css") 
        link(rel="stylesheet", href="https://bootswatch.com/4/cerulean/bootstrap.css") 
        link(rel="stylesheet", href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css") 
        link(rel="stylesheet", href="/css/simple-sidebar.css")      
        link(rel="stylesheet", href="/css/app.css")      
        title #{pagename}
    body
        div.d-flex#wrapper
            //- sidebar
            div.bg-light.border-right#sidebar-wrapper
                div.sidebar-heading
                    a(href="/new-project") Nuevo Proyecto 
                        i.fa.fa-plus(aria-hidden='true') &nbsp;
                div.list-group.list-group-flush
                    h4.list-group-item.text-info Mis Proyectos
                    a(href="#" class="list-group-item list-group-item-action bg-light") Dise침o de tienda virtual
                    a(href="#" class="list-group-item list-group-item-action bg-light") Dise침o de Nuevo Blog
                    a(href="#" class="list-group-item list-group-item-action bg-light") Dise침o de logotipo
            div#page-content-wrapper
                nav.navbar.navbar-expand-lg.navbar-light.bg-light.border-bottom
                    button.btn.btn-primary.mr-3#menu-toggle &#9776;
                    button.navbar-toggler(type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation")
                        span.navbar-toggler-icon
                    div.text-center
                        h4 Up Task App - Administrador de Proyectos
                    div.collapse.navbar-collapse#navbarSupportedContent
                        ul.navbar-nav.ml-auto.mt-2.mt-lg-0
                            li.nav-item.active
                                a(href="/").nav-link Home
                            li.nav-item
                                a(href="#").nav-link Cerrar Sesi칩n

                div.container-fluid.my-3
                    block content
        
        block scripts
            script(src="https://code.jquery.com/jquery-3.3.1.slim.min.js")
            script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js")
            script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js")
            script(src="/js/app.js")
            
            