<!DOCTYPE html>
html(lang="en")
    head
        include partials/header
    body
        div.d-flex#wrapper
            //- sidebar
            div.border-right#sidebar-wrapper
                div.bg-light.sidebar-heading
                    a(href="/new-project" title="Crear un nuevo proyecto") Nuevo Proyecto 
                        i.fa.fa-plus(aria-hidden='true') &nbsp;
                div.list-group.list-group-flush
                    h4.list-group-item.text-info Mis Proyectos
                    if(projects.length)
                        each project in projects
                            a(href=`/project/${project.url}` class="list-group-item list-group-item-action")= project.projectName
            div#page-content-wrapper
                nav.navbar.navbar-expand-lg.navbar-light.bg-light.border-bottom
                    button.btn.btn-primary.mr-3#menu-toggle &#9776;
                    button.navbar-toggler(type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation")
                        span.navbar-toggler-icon
                    div.text-center
                        h4 Up Task App - Administrador de Proyectos
                    div.collapse.navbar-collapse#navbarSupportedContent
                        ul.navbar-nav.ml-auto.mt-2.mt-lg-0
                            li.nav-item.active
                                a(href="/").nav-link Home
                            li.nav-item
                                a(href="/logout").nav-link Cerrar Sesión

                div.container-fluid.my-3
                    block content
                    //- pre= vardump(projects)
        
        block scripts
            script(src="https://code.jquery.com/jquery-3.3.1.slim.min.js")
            script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js")
            script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js")
            script(src="/dist/bundle.js")
            
            