extends layout
include mixins/createProject
block content
  .text-center
    h4 #{pagename}

  pre= vardump(project)
    if errors
      .new-form
        .alert.alert-danger
          h6.alert-heading Ocurrieron algunos errores
          hr
          each error in errors
            p=error.text
            
  +createProject(project)

  