extends layout
block content
  .text-center
    h4 #{pagename}


    if errors
      .alert.alert-danger
        h6.alert-heading Ocurrieron algunos errores
        hr
        each error in errors
          p=error.text

  form.needs-validation.new-form.my-3(action="/new-project" method="post" novalidate autocomplete="off")
    .form-group.row
      label(for="validationCustom01" class="col-sm-3 col-form-label") Nuevo Proyecto
      .col-sm-9
        input(type="text" name="nameProject" class="form-control" id="validationCustom01" placeholder="Nombre Proyecto" required)
        .valid-feedback Nombre valido
        .invalid-feedback El nombre del proyecto es requerido        
    button(class="btn btn-primary" type="submit") Agregar