mixin createProject(project = {})
  form.needs-validation.new-form.my-3(action=`/new-project/${project.id || ''}` method="post" novalidate autocomplete="off")
    .form-group.row
      label(for="validationCustom01" class="col-sm-3 col-form-label") Nuevo Proyecto
      .col-sm-9
        input(value=project.projectName type="text" name="projectName" class="form-control" id="validationCustom01" placeholder="Nombre Proyecto" required)
        .valid-feedback Nombre valido
        .invalid-feedback El nombre del proyecto es requerido        
    button(class="btn btn-primary" type="submit") Guardar